body{
    font-family: Bookman, URW Bookman L, serif;
    color:white;
    background-color:rgb(13, 54, 46);
}

/* header styling  */
header{
    background-color:floralwhite;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
header div{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

header h1{
    color: floralwhite;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(13, 54, 46);
    padding: 10px;
    border: 5px dotted ;
}

header a {
    text-decoration:dotted;
    color: rgb(49, 24, 24);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

header nav {
    margin: 20px;
}

header nav ul li a {
    padding: 8px;
    font-size: 28px;
    margin: 20px 20px 0 0;
    font-weight: bold;
}

header nav ul li a:hover {
    background:rgb(13, 54, 46);
    color:floralwhite;
    border-radius: 15px;
}


/* Hero styling  */
.hero {
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero img {
    height: 400px;
}

/* Class styling of the titles */
.title {
    border-right: 5px solid floralwhite ;
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}

.title h3 {
    font-size: 45px;
}

/* work styling */
.work{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: floralwhite;
    color: rgb(13, 54, 46);
}

.work h3 {
    color:rgb(13, 54, 46)
}

.work-grid-wrapper {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.work-grid {
    width: 70%;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
    gap: 10px;
}

/* .project {
    border: solid;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    
} */

